.bg {
    height: 100vb;
    width: 100vb;
    background-color: black;
}

#move{
    background: black;
    height: 100vb;
    width: 100vb;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}