body {
    background-color: #e7c9a9;

}

.classy-my-assy {
    text-align: center;
    color: #D23;
    font-family: 'Rubber Stamp Std Regular';
    color: #D23;
      border: 1rem double #D23;
      transform: rotate(-5deg);
    font-size: 6rem;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    border-radius: 0;
    padding: 0.5rem;
  } 

.classy-boi {
    text-align: center;
    color: #D23;
    font-family: "Rubber Stamp Std Regular", sans-serif;
}

